<div class="max-w-4xl mx-auto p-6 bg-white rounded-xl shadow mt-6">
    
  <h2 class="text-2xl font-bold mb-4 flex justify-center"><i class="hgi hgi-stroke hgi-file-01"></i>&nbsp;Order Summary</h2>

  <div class="divide-y">
    @for (item of cartStore.products(); track item.id) {
      <div class="flex justify-between py-3">
        <span>{{ item.title }} × {{ item.quantity }}</span>
        <span class="font-medium">
          {{ item.price * item.quantity | currency }}
        </span>
      </div>
    }
  </div>

  <div class="flex justify-between mt-6 text-lg font-semibold">
    <span>Total</span>
    <span>{{ cartStore.totalPrice() | currency}}</span>
  </div><br>
<h2 class="text-xl font-bold mb-4 flex justify-center">
  <i class="hgi hgi-stroke hgi-truck-delivery"></i>&nbsp;Delivery Address
</h2>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4">

  <!-- Permanent Address -->
  <mat-card
    class="address-card"
    [class.selected]="selectedCard === 'permanent'"
    (click)="selectPermanent()"
  >
    <mat-card-content>
      <h3 class="font-semibold">Permanent Address</h3>

      <ng-container *ngIf="permanentAddress; else noPermanent">
        <p class="text-sm">{{ permanentAddress.name }}</p>
        <p class="text-xs text-gray-600">
          {{ permanentAddress.addressLine }}, {{ permanentAddress.city }}
        </p>
      </ng-container>

      <ng-template #noPermanent>
        <p class="text-sm text-gray-400">No permanent address</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <!-- Saved Address -->
  <mat-card
    class="address-card"
    [class.selected]="selectedCard === 'saved'"
    (click)="selectSaved()"
  >
    <mat-card-content>
      <h3 class="font-semibold">Saved Address</h3>

      <ng-container *ngIf="savedAddress; else noSaved">
        <p class="text-sm">{{ savedAddress.name }}</p>
        <p class="text-xs text-gray-600">
          {{ savedAddress.addressLine }}, {{ savedAddress.city }}
        </p>
      </ng-container>

      <ng-template #noSaved>
        <p class="text-sm text-gray-400">No saved address</p>
      </ng-template>
    </mat-card-content>
  </mat-card>

  <!-- Add New -->
  <mat-card class="address-card add-card" (click)="openAddressDialog()">
    <mat-card-content class="flex flex-col items-center justify-center">
      <mat-icon style="width: 17%; height: 65%;" class="text-4xl">add</mat-icon>
      <span class="mt-2 font-semibold">Add New Address</span>
    </mat-card-content>
  </mat-card>

</div>

<!-- CENTERED BUTTON -->
<div class="flex justify-center mt-8">
  <button
    mat-raised-button
    color="primary"
    class="px-10 py-3 text-lg"
    [disabled]="!selectedAddress"
    (click)="proceedToPayment()"
  >
    Continue to Payment
  </button>
</div>

</div>


