<div *ngIf="ismenuvisible" class="layout-root">

  <!-- FIXED TOP TOOLBAR -->
  <mat-toolbar class="toolbar mat-elevation-z8">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Angular Authentication - NGRX</span>
    <span class="example-spacer"></span>

    <button class="cart-icon"
      mat-icon-button
      routerLink="/cart"
      [matBadge]="cartStore.products().length"
      matBadgeColor="warn"
      matBadgeOverlap="false"
      aria-label="Cart"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>

    &nbsp;&nbsp;&nbsp;

    <button mat-button style="color:white" (click)="openLogoutDialog()">
      Logout
    </button>
  </mat-toolbar>

  <!-- SIDENAV + CONTENT -->
  <mat-sidenav-container class="sidenav-container">

    <!-- SIDE NAV -->
    <mat-sidenav
      #drawer
      mode="side"
      [opened]="isSidenavOpen"
      cdkTrapFocus
    >
      <mat-nav-list>
        <mat-list-item routerLink="" (click)="closeDrawer()">
          <i class="hgi hgi-stroke hgi-home-09"></i>&nbsp;&nbsp;
          Home
        </mat-list-item>

        <mat-list-item
          *ngFor="let item of menulist"
          [routerLink]="item.menu"
          (click)="closeDrawer()"
        ><i class="hgi hgi-stroke hgi-user"></i>&nbsp;&nbsp;
          {{ item.menu }}
        </mat-list-item>

        <mat-list-item routerLink="products" (click)="closeDrawer()">
          <i class="hgi hgi-stroke hgi-shopping-basket-check-in-01"></i>&nbsp;&nbsp;
          E-Marketplace
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <!-- MAIN CONTENT -->
    <mat-sidenav-content
  [class.content-disabled]="isSidenavOpen"
  [attr.aria-hidden]="isSidenavOpen"
>
  <router-outlet></router-outlet>
</mat-sidenav-content>


  </mat-sidenav-container>
</div>

<!-- AUTH / LOGIN SCREENS -->
<div *ngIf="!ismenuvisible" class="auth-bg">
  <router-outlet></router-outlet>
</div>

<!-- Without menu -->
<!-- <div style="text-align: center; min-height: 600px" *ngIf="!ismenuvisible">
  <router-outlet></router-outlet>
</div> -->
